footer{
  background-color: #E5A732;
}
footer .wrap{
  padding: 15px 0;
  width: 980px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}
footer .wrap span{
  font-size: 15px;
  color: #222;
  font-weight: bold;
  font-family: 'Noto Sans KR', sans-serif;
}
footer .wrap p.copyright{
  font-size: 15px;
  color: #222;
  font-weight: bold;
}
footer .btop{
  display: flex;
  position: fixed;
  bottom: 50px;
  right: 48px;
  font-size: 0;
  width: 130px;
  height: 130px;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 1s;
  background-image: url(../img/logo_up2.png);
  background-size: 91%;
}
